<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahoy.task">

    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application android:supportsRtl="true">
        <activity
            android:name="com.ahoy.task.ui.activity.TaskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.ahoy.task.services.AlarmReceiver"
            android:enabled="true" />
        <service
            android:name="com.ahoy.task.services.NotificationService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="com.ahoy.task.ui.FileProvider"
            android:authorities="com.ahoy.weather.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>